@define-color bg #171717;
@define-color fg #ff3535;
@define-color gray1 #ff3535;
@define-color gray2 #932727;
@define-color gray3 #ff3535;
@define-color gray4 #451d1d;
@define-color gray5 #ff3535;
@define-color fg_bright #ff3535;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}